<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterController</servlet-name>
        <servlet-class>controller.UserRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountUserController</servlet-name>
        <servlet-class>controller.UpdateAccountUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserConfirmController</servlet-name>
        <servlet-class>controller.UpdateUserConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBuy</servlet-name>
        <servlet-class>controller.UserBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>controller.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceBySellerController</servlet-name>
        <servlet-class>controller.ServiceBySellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUpdateDeleteServiceController</servlet-name>
        <servlet-class>controller.CheckUpdateDeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <servlet-class>controller.UpdateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowListUserController</servlet-name>
        <servlet-class>controller.AdminShowListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPageByRole</servlet-name>
        <servlet-class>controller.FindPageByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUser</servlet-name>
        <servlet-class>controller.AdminDeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterController</servlet-name>
        <url-pattern>/UserRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountUserController</servlet-name>
        <url-pattern>/UpdateAccountUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserConfirmController</servlet-name>
        <url-pattern>/UpdateUserConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBuy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceBySellerController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUpdateDeleteServiceController</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowListUserController</servlet-name>
        <url-pattern>/AdminShowListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPageByRole</servlet-name>
        <url-pattern>/FindPageByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUser</servlet-name>
        <url-pattern>/AdminDeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
